body {
	background-color: #383838;
}

a {
	color: rgb(131, 223, 253);
	text-decoration: underline;
}

.sidebar {
	float: left;
	color: rgb(131, 223, 253);
	background-color: indigo;
	margin: 12px;
	border: 2px solid green;
	padding: 8px;
}

#table-list {
	margin: 0;
	padding: 0;
}

#current-projects-body {
	margin: 0;
	padding: 0;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: rgb(110, 77, 134);
}

p {
	text-align: center;
}

.container .jumbotron {
	background-color: indigo;
	text-align: center;
	color: rgb(131, 223, 253);
}

.container .panel-info {
	background-color: rgb(129, 91, 156);
	color: rgb(0, 0, 0);
}

.container .panel-heading {
	background-color: indigo;
	text-align: center;
	color: rgb(131, 223, 253);
}